[run]
omit = *__init__.py,*apps.py,*admin.py,action/forms/*,action/calendar.py,action/utils/calendar.py,action/migrations/*,action/urls/*,action/tests/*

[report]
omit = *__init__.py,*apps.py,*admin.py,action/forms/*,action/calendar.py,action/utils/calendar.py,action/migrations/*,action/urls/*,action/tests/*