{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'action/style.css' %}">
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
    </head>
    <body>
        <div class="outer-form-container">
            <div class="form-container">
                <h1>Login</h1>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-table">
                        {{ form.as_table }}
                    </div>
                    <p class="form-submit">
                        <button type="submit">Login</button>
                    </p>
                    <input type="hidden" name="next" value="{{next}}"/>
                </form>
                <div>
                    <a href="{% provider_login_url 'google' %}" class="login-with-google-btn">Sign in with Google</a>
                </div>
                <div>
                    <p>Don't have an account? <a href="/signup">Sign up</a></p>
                </div>
                <div>
                    <p>Want to visit our page first? <a href="{% url 'action:index' %}">Click here.</a></p>
                </div>
            </div>
        </div>
        <img class="logo" src="{% static 'action/images/Logo-login.png' %}">
    </body>
</html>
