{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'action/style.css' %}">

<!DOCTYPE html>
<html lang="en">
    <head>
        <title class="form">Register</title>
    </head>
    <body>
        <div class="signup">
            <form method="POST" class="signup-form" enctype="multipart/form-data">
                <h1>Register</h1>
                {% for field, error_messages in form.errors.items %}
                    {% for error_message in error_messages %}
                        <h3 style="color:red;">{{ error_message }}</h3>
                    {% endfor %}
                {% endfor %}
                {% csrf_token %}
                <table class="form-table">
                    {% for field in form %}
                        <h4>{{ field.label_tag }}</h4>
                        {{ field }}
                        <p style="color:red;">{{ field.help_text }}</p>
                    {% endfor %}
                    <tr>
                        <td colspan="2" class="form-submit">
                            <button type="submit" class="submit-button">Register</button>
                        </td>
                    </tr>
                </table>
                <p>Already have an account? <a href="{% url 'login' %}">Login here.</a></p>
                <p>Want to visit our page first? <a href="{% url 'action:index' %}">Click here.</a></p>
            </form>
        </div>
    </body>
</html>