{% extends "action/base.html" %}
{% load static %}

{% block title %}
Detail
{% endblock %}

{% block content %}
<div class="outer-details">
    <div class="top-details">
        <a class="back" href="{% url 'action:index' %}">Back</a>
        <strong>{{ activity.title }}</strong>
        {% if user.is_authenticated %}
            {% if activity_status.is_favorited %}
                <form action="{% url 'action:unfavorite' activity.id %}" class="Favorite">
                    <button type="submit" class="Favorite-btn">Un-favorite</button>
                </form>
            {% else %}
                <form action="{% url 'action:favorite' activity.id %}" class="Favorite">
                    <button type="submit" class="Favorite-btn">Favorite</button>
                </form>
            {% endif %}

            {% if activity_status.is_participated %}
                <form action="{% url 'action:leave' activity.id %}" class="Participate">
                    <button type="submit" class="Participate-btn">Leave</button>
                </form>
            {% else %}
                <form action="{% url 'action:participate' activity.id %}" class="Participate">
                    <button type="submit" class="Participate-btn">Participate</button>
                </form>
            {% endif %}

        {% else %}
            <a href="{% url 'action:participate' activity.id %}" class="login-required">
                Login to participate in this activity.
            </a>
        {% endif %}
    </div>

    <div class="activity-owner"> 
        <p class="top-owner">
            <strong>Owner:</strong>
            <a href="{% url 'action:profile' activity.owner.id %}">{{ activity.owner.username }}</a>
        </p>
        <div class="background-slide">
            {% for value in activity.background_picture.values %}
                <img class="image-Slides" src="data:image/png;base64,{{ value }}"
                ALT="{{ activity.title }}'s Picture" width="100%" height="auto">
            {% empty %}
                <img src="{% static 'action/images/default-image.png' %}"
                ALT="{{ activity.title }}'s Picture" width="100%" height="600">
            {% endfor %}
        </div>
        <div class="slide-button">
            <a class="left-hover-text" onclick="plusDivs(-1)">&#10094;</a>
            <a class="right-hover-text" onclick="plusDivs(1)">&#10095;</a>
        </div>

        <div class="activity-details">
            <div class="Description">
                <p>Description:</p>
                <p class="full-detail">{{ activity.full_description }}</p>
            </div> 
            <div class="activity-general-information">
                <p><strong>Date Published:</strong> {{ activity.pub_date }}</p>
                <p><strong>Application Deadline:</strong> {{ activity.end_date }}</p>
                <p><strong>Date of Activity:</strong> {{ activity.start_date }}</p>
                <p><strong>Last date of activity:</strong> {{ activity.last_date }}</p>
                <p>
                    <strong>Place: </strong>
                    {% if activity.place %}
                        <a href="{% url 'action:index' %}?tag=place&q={{ activity.place }}">
                    {% endif %}
                        {{ activity.place }}
                    </a>
                </p>
                <p><strong>Participant Limit:</strong>
                    {% if activity.participant_limit %}
                        {{ activity.participant_limit }}
                    {% else %}
                        None
                    {% endif %}
                </p>
                <p><strong>Participant Counts:</strong> {{ activity.participants.count }}</p>
                <p class="participant"><strong>Participants:</strong>
                    {% for participants in activity.participants %}
                        <a href="{% url 'action:profile' participants.id %}">
                            {{ participants }}{% if not forloop.last %}, {% endif %}
                        </a>
                    {% empty %}
                        None
                    {% endfor %}
                </p>
            </div>
            <div class="category">
                <p><strong>Categories:</strong></p>
                <ul>
                    {% for each_category in activity.categories.all %}
                        <li><a href="{% url 'action:index' %}?tag=categories&q={{ each_category.name }}">
                            {{ each_category.name }}</a>
                        </li>
                    {% empty %}
                        <li>No tags available for this activity.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}