{% extends "action/base.html" %}
{% load static %}

{% block content %}
<div class="outer-details">
    <div class="top-details">
        <a class="back" href="{% url 'action:index' %}">Back</a>
        <h2>{{ activity.title }}</h2>
        {% if user.is_authenticated %}
            {% if activity_status.is_participated %}
                <form action="{% url 'action:leave' activity.id %}" class="Participate">
                    <button type="submit" class="Participate-btn">Leave</button>
                </form>
            {% else %}
                <form action="{% url 'action:participate' activity.id %}" class="Participate">
                    <button type="submit" class="Participate-btn">Participate</button>
                </form>
            {% endif %}

            {% if activity_status.is_favorited %}
                <form action="{% url 'action:unfavorite' activity.id %}" class="Favorite">
                    <button type="submit" class="Favorite-btn">Un-favorite</button>
                </form>
            {% else %}
                <form action="{% url 'action:favorite' activity.id %}" class="Favorite">
                    <button type="submit" class="Favorite-btn">Favorite</button>
                </form>
            {% endif %}
        {% else %}
            <p>Login to participate in this activity.</p>
        {% endif %}
    </div>
    <div class="activity-owner"> 
        <p class="top-owner"><strong>Owner:</strong> {{ activity.owner.username }}</p>
        <div class="big_image">
            <img src="{% if activity.picture %} data:image/png;base64,{{ activity.picture }}
                     {% else %} {% static 'action/images/background.png' %}
                     {% endif %}"
                alt="{{ activity.title }}'s Picture">
        </div>
        <div class="activity-details">
            <div class="Description">
                <p><strong>Description:</strong></p>
                <p class="full-detail">{{ activity.full_description }}</p>
            </div>
            <p><strong>Date Published:</strong> {{ activity.pub_date }}</p>
            <p><strong>Application Deadline:</strong> {{ activity.end_date }}</p>
            <p><strong>Date of Activity:</strong> {{ activity.start_date }}</p>
            <p><strong>Last date of activity:</strong> {{ activity.last_date }}</p>
            <p><strong>Description:</strong> {{ activity.description }}</p>
            <p><strong>Place:</strong> {{ activity.place }}</p>
            <p><strong>Participants:</strong>
                {% for participants in activity.participants %}
                    {{ participants }} ,
                {% endfor %}
            </p>
            <p><strong>Participant Counts:</strong> {{ activity.participants.count }}</p>
            <p><strong>Background Picture:</strong>
                {% if activity.background_picture %}
                    <p>
                    {% for value in activity.background_picture.values %}
                        <img src="data:image/png;base64,{{ value }}"
                        ALT="{{ activity.title }}'s Picture" width="400" height="240" >
                    {% endfor %}
                    </p>
                {% else %}
                    <p>
                    <img src=" {% static 'action/images/default-image.png' %}"
                    ALT="{{ activity.title }}'s Picture" width="400" height="240" >
                    </p>
                {% endif %}
            </p>

            <p><strong>Participant Limit:</strong>
            {% if activity.participant_limit %}
                {{ activity.participant_limit }}
            {% else %}
                None.
            {% endif %}
            </p>

            <p><strong>Tags:</strong></p>
            <ul>
            {% for tag in activity.tags.all %}
                <li>{{ tag.name }}</li>
            {% empty %}
                <li>No tags available for this activity.</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}