{% extends "action/base.html" %}
{% load static %}

{% block title %}
Edit
{% endblock %}

{% comment %} reuse actiivity-form base/create_activity.html?? {% endcomment %}
{% block content %}
<h3>
<form method="post" enctype="multipart/form-data">
    <div class="edit-outer-detail">
        <div class="title">
            <h1> Edit Activity </h1>
        </div>
        <div class="edit-inner-detail">
            {% csrf_token %}

            {% for field in form %}
                {% if field.name == 'owner' %}
                    <h2><strong>{{ field.label_tag }}</strong> {{ field.as_hidden }} {{ user }}</h2>

                {% elif field.name == 'picture' %}
                    <div class="heading-detail"><p>{{ field.label_tag }}</p> <input id="imageInput" type="file" name="{{ field.name }}" onchange="displayImage()"></div>
                    <img id="uploadedImage" src="{% if activity.picture %} data:image/png;base64,{{ activity.picture }}
                         {% else %} {% static 'action/images/default-image.png' %}
                         {% endif %}"
                    alt="{{ activity.title }}'s Picture" width="240" height="240">

                {% elif field.name == 'background_picture' %}
                    <div class="heading-detail">
                        <p>{{ field.label_tag }}</p>
                        <input id="fileInput" type="file" multiple name="{{ field.name }}">
                    </div>
                    <div class="background-slide" id="backgroundSlide">
                        {% if activity.background_picture %}
                            {% for value in activity.background_picture.values %}
                                <img class="image-Slides" src="data:image/png;base64,{{ value }}"
                                    alt="Activity Picture" width="100%" height="auto">
                            {% endfor %}
                        {% else %}
                            <img src="{% static 'action/images/default-image.png' %}" alt="Default Picture"
                            width="100%" height="auto">
                        {% endif %}
                    </div>
                    <div class="slide-button">
                        <a class="left-hover-text" onclick="plusDivs(-1)">&#10094;</a>
                        <a class="right-hover-text" onclick="plusDivs(1)">&#10095;</a>
                    </div>

                {% elif field.name == 'categories' %}
                    <div><p>{{ field.label_tag }}</p></div>
                    <div class="grid-tag-name">
                    {% for category in field.field.queryset %}

                        <div>
                            <input type="checkbox" name="{{ field.name }}" value="{{ category.id }}"
                                {% if category in field.value.all %} checked {% endif %}>{{ category }}</input>
                        </div>
                    {% empty %}
                        <p>No tag currently available.</p>
                    {% endfor %}
                    </div>

                {% else %}
                    <div class="heading-detail"><p>{{ field.label_tag }}</p>{{ field }}</div>
                {% endif %}
                <br>
            {% endfor %}
            <input type="submit" value="Edit">
        </div>
    </div>
</form>
</h3>
{% endblock %}