/* Style for Table on index.html*/
table.style1 {
    border-collapse: collapse;
    width: 100%;
}

table.style1 th, table.style1 td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
    background-color: #f2f2f2;
}

table.style1 th {
    background-color: #333;
    color: #ddd;
}

table.style1 a {
    text-decoration: none;
}


/* Search system */
.search-system {
    text-align: center;
    margin-top:2%;
    margin-bottom: 1%;
}

.left-search-criteria {
    text-align: center;
    color: black;
    background: white;
    font-size: 20px;
    height: 40px;
    border-radius: 45px 0px 0px 45px;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-criteria {
    text-align: center;
    color: black;
    background: white;
    font-size: 20px;
    height: 40px;
    border-radius: 45px 0px 0px 45px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.search-bar {
    text-align: left;
    background-color: #04AA6D;
    color: black;
    background: white;
    font-size: 20px;
    width: 30%;
    height: 40px;
    border: none;
    padding: 0px 0px 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.category-search {
    text-align: left;
    background-color: #04AA6D;
    color: black;
    background: white;
    font-size: 20px;
    width: 30%;
    height: 40px;
    border: none;
    padding-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-button {
    text-align: center;
    border-radius: 0px 45px 45px 0px;
    background-color: #04AA6D;
    color: black;
    background: white;
    font-size: 20px;
    height: 40px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.search-button:hover {
    color: white;
    background: #00b14f;
}

.search-system .advance-button{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 45px;
    background-color: #04AA6D;
    color: black;
    background: white;
    font-size: 20px;
    height: 40px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px 12px;
    transition: all .3s;
    cursor: pointer;
}

.search-system .advance-button:hover {
    background:#ECECEC;
}

.advance-search {
    text-align:left;
    padding:auto;
}

/* Advance search */

.advance-search {
    background:#C0D64D;
    padding: 0px 0px 20px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:solid 5px;
    border-color: #00b14f;
}
.advance-search .categories-title {
    font-family: Arial, Helvetica, sans-serif;
    margin-left:20px;
    text-decoration:underline;
}

.advance-search .advance-detail {
    text-align:center;
}

.advance-search .grid-tag{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin:10px;
    font-size:22px;
    font-family: Arial, Helvetica, sans-serif;
}

.advance-search .grid-tag input{
    width: 20px;
    height: 20px;
}

.advance-search .advance-detail span {
    width:200px;
    display:inline-block;
    text-decoration:underline;
}

.advance-search .advance-detail h1{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

.advance-search .advance-detail input{
    width:70%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

.advance-search .advance-detail p {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.advance-search .submit-advance {
    text-align:center;
}

.advance-search button {
    text-align:center;
    width:60%;
    background-color: #04AA6D;
    border: none;
    border-radius:10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 12px 40px 0 rgba(0, 0, 0, 0.19);
    transition:all .3s;
    padding: 14px 40px;
}

.advance-search button:hover{
    background-color: white;
    color: green;
    font-size: 25px;
}

/* Gird for activity */
.gird-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    margin-top:30px;
    margin-bottom:30px;

    justify-items: center;
}


/* Activity box */
.activity {
    margin: 30px;
    padding: 10px;
    background-color: white;
    width: 400px;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

    text-align: center;
    font-family:sans-serif;
    box-sizing:border-box;
    outline:none;
    text-decoration:none;
    transition: 0.4s;
}

.activity:hover {
    margin: 20px;
    padding: 15px;
}

.activity img {
    width:100%;
    height:200px;
    border-radius:10px 10px 0px 0px;
    border: none;
}

.activity .activity-title {
    font-size:30px;
    margin: -25px 0px -20px 0px;
    overflow: hidden;
}

.brief-detail{
    width:100%;
    border-radius:10px;
    padding:2px 0px;
    height:60px;
    line-height: 20px;
    white-space: normal;
    overflow:scroll;
    text-overflow:ellipsis;
}

.activity .Participant {
    border-top: 2px solid black;
    padding-top:20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin: 10px 20px;
}

.activity .shot-detail {
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin: 10px 20px;
}


@media only screen and (max-width: 1239px) and (min-width: 1014px) {
    .activity {
        width: 500px;
    }
    .activity:hover {
        width: 510px;
    }
}

@media only screen and (max-width: 819px) and (min-width: 520px) {
    .activity {
        width: 500px;
    }
    .activity:hover {
        width: 510px;
    }
}