.top-box {
    text-align: center;
    grid-area: header;
    font-family: Arial, Helvetica, sans-serif;
   }

.top-box .profile-img{
    text-align:center;
    margin-top:-100px;
}

.top-box .profile-background-img img{
    width:80%;
    height:500px;
    border-radius: 20px;
}

.top-box .profile-img img{
    border:solid 4px;
    border-color: #529944;
    background:white;
}

.top-box .top-header-detail{
    font-size: 30px;
    margin:-30px 0px;
    color:white;
    text-shadow: 2px 2px 4px #000000;
}

.top-box .edit{
    display:inline-block;
}

.top-box .edit button{
    padding: 14px 40px;

    background-color: #04AA6D;
    border: none;
    border-radius:10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 12px 40px 0 rgba(0, 0, 0, 0.19);
    transition:all .3s;
}

.top-box .edit button:hover{
    background-color: white;
    color: green;
    font-size: 25px;
}

.top-box .logout{
    display:inline-block;
}

.top-box .logout a{
    padding: 14px 55px;

    background-color: gray;
    border: none;
    border-radius:10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 12px 40px 0 rgba(0, 0, 0, 0.19);
    transition:all .3s;
}

.top-box .logout a:hover{
    background-color: white;
    color: red;
    font-size: 25px;
}

/*this is left side box*/
.left-box {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    grid-area: menu;
    margin-left: 50px;
}

.left-box .participated-activity{
    max-height:300px;
    min-width:390px;
    margin-top: -20px;
    padding: 15px 20px 10px 20px;
    background: #B0D9B1;
    border-radius:20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.left-box .title{
    margin-top:-30px;
    margin-bottom:-15px;
    padding-bottom:0px;
}

.left-box h1{
    text-decoration: underline;
    text-underline-offset: 10px;
}

.left-box .favorite-activity{
    max-height:300px;
    min-width:390px;
    margin-top:20px;
    padding: 15px 20px 10px 20px;
    background: #B0D9B1;
    border-radius:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-box .scroll li{
    list-style-type:none;
    background:white;
    margin:10px 30px;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:10px 0px;
}

.left-box .scroll{
    max-height: 210px;
    overflow-y: scroll;
    overflow-y: scroll;

}

.left-box .scroll a{
    font-size:25px;
    width: 10px;
    text-decoration:none;
    background:white;
    color:black;
    transition: font-size 0.2s;
}

.left-box .scroll a:hover{
    font-size:30px;
}

.right-box {
    font-family: Arial, Helvetica, sans-serif;
    grid-area: main;
    margin-right: 50px;
    background: #B0D9B1;
    border-radius:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width:400px;
}

.right-box .right-detail {
    padding: 0px 20px;
}

.right-box h1 {
    display:inline-block;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.right-box span {
    font-size: 30px;
}

.right-box .bio h1{
    margin-top:5px;
}

.right-box .bio p {
    margin-top:-10px;
    font-size: 30px;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header'
      'menu menu main main main'
      'menu menu main main main';
    gap: 15px;
    padding: 0px 0px 100px 0px;
}

.grid-container > div {
    padding: 20px 0px 20px 0px;
}

@media only screen and (max-width: 1239px) {
    .grid-container {
        display: block;
    }

    .left-box {
        margin: 0px 50px;
    }

    .right-box {
        margin: 0px 50px;
    }

    .top-box .profile-background-img img{
        width:100%;
    }

}