{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'action/style.css' %}">
    <title>
    {% block title %}
    {% endblock %}
    </title>
</head>

<body>
    <div class="topnav">
    {% block content_topnav %}
        <a href="{% url 'action:index' %}"
        style="color: #00FFFF;">Go to Home</a>
        {% if user.is_authenticated %}
            <a style="color: rgb(125, 125, 225)" href="{% url 'action:profile' %}"
                >User: {{ user.username.title }}</a>
        {% endif %}
    {% endblock %}

    {% block account_topnav %}
        {% if user.is_superuser %}
        <a class="link" style="color: rgb(0, 125, 255)"
                href="{% url 'admin:index' %}">Admin</a>
        {% endif %}

        {% if user.is_authenticated %}
        <a href="{% url 'action:create' %}">
            Create Activity
        </a>

        <a style="color: rgb(255,69,0);"
            href="{% url 'logout' %}">
            Logout
        </a>

        <a href="{% url 'action:friends' %}"> Friend List </a>
        {% else %}
        <a class="link" style="color: rgb(0, 128, 0)"
            href="{% url 'login' %}?next={{ request.path }}">
            Login
        </a>
        <a class="link" style="color: rgb(255, 165, 0)"
            href="{% url 'signup' %}">
            Register
        </a>
        {% endif %}
    {% endblock %}
    </div>

    {% block message %}
        {% if messages %}
            {% for message in messages %}
                <a>{{ message }}</a>
            {% endfor %}
        {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>