{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'action/base.css'%}">
    <link rel="stylesheet" href="{% static 'action/detail.css' %}">
    <link rel="stylesheet" href="{% static 'action/friends.css'%}">
    <link rel="stylesheet" href="{% static 'action/index.css' %}">
    <link rel="stylesheet" href="{% static 'action/profile.css'%}">
    <link rel="stylesheet" href="{% static 'action/calendar.css'%}">
    <link rel="stylesheet" href="{% static 'action/style.css'%}">
    <link rel="stylesheet" href="{% static 'action/manage_activity.css'%}">
    <link rel="stylesheet" href="{% static 'action/edit_create_activity.css'%}">
    <link rel="stylesheet" href="{% static 'action/error.css'%}">
    <link rel="stylesheet" href="{% static 'action/profile_edit.css'%}">
    <script src="{% static 'action/base.js' %}"></script>
    <script src="{% static 'action/edit.js' %}"></script>
    <script src="{% static 'action/edit_profile.js' %}"></script>
    <script src="{% static 'action/detail.js' %}"></script>
    <title>
    {% block title %}
    {% endblock %}
    </title>
</head>

<body>
    <nav class="navigation-bar">
        <div class="topnav">
        {% block account_topnav %}
            <div onclick="show_hide()" class="drop-button">
                <button class="fas fa-bars"></button>
            </div>
            <a class="title" href="{% url 'action:index' %}">KU-ACTIVE</a>

        {% if user.is_authenticated %}
            <a class="logout" href="{% url 'logout' %}">Logout</a>
            <div class="user-box">
                <a class="user" href="{% url 'action:profile' %}"> {{ user.username.title }}</a>
                <img class="img" src="data:image/png;base64,{{ user.profile_picture }}">
            </div>
            <a class="friends" href="{% url 'action:friends' %}">Friends</a>
            <a class="new-activity" href="{% url 'action:manage' %}">Manage Your Activity!</a>
            <a class="calendar" href="{% url 'action:calendar' %}">Calendar</a>
            {% if user.is_superuser %}
                <a class="admin" href="{% url 'admin:index' %}">Admin Interface</a>
            {% endif %}

        {% else %}
            <div class="user-box">
                <a class="user" href="{% url 'action:profile' %}">guest</a>
                <img class="img" src="{% static 'action/images/guest-img.png' %}">
            </div>
        {% endif %}
        {% endblock %}
        </div>

        <div class="secnav">
            <li><a class="title" href="{% url 'action:index' %}?tag=registered">Registered Activity</a></li>
            <li><a class="title" href="{% url 'action:index' %}?tag=favorited">Interested Activity</a></li>
            <li><a class="title" href="{% url 'action:index' %}?tag=friend_joined">Your Friends Join!</a></li>
            <li><a class="title" href="{% url 'action:index' %}?tag=upcoming">Upcoming</a></li>
            <li><a class="title" href="{% url 'action:index' %}?tag=popular">Popular</a></li>
            <li><a class="title" href="{% url 'action:index' %}?tag=recent">Recent</a></li>
            <li><a class="title" href="{% url 'action:index' %}">Category</a></li>
        </div>
    </nav>

    {% block message %}
        {% if messages %}
            {% for message in messages %}
                <div id="alert-msg" class="alert-msg">
                    <span class="close-msg" onclick="closeMsg()">&times;</span>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endblock %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>