{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'action/style.css' %}">
    <link rel="stylesheet" href="{% static 'action/detail.css' %}">
    <title>
    {% block title %}
    {% endblock %}
    </title>
</head>

<body>
    <div class="topnav">
    {% block account_topnav %}
        <a class="title" href="{% url 'action:index' %}">KU-ACTIVE</a>

        {% if user.is_authenticated %}
        <a class="user" href="{% url 'action:profile' %}">
            {{ user.username.title }}
            <img src="https:///20x20" />
        </a>

        <a class="friends" href="{% url 'action:friends' %}">
            Friends
        </a>
        <a class="new-activity" href="#">
            Create new Activity!
        </a>
        {% else %}
        <a class="login" href="{% url 'login' %}?next={{ request.path }}">
            guest
            <img src="https:///20x20" />
        </a>
        {% endif %}
    {% endblock %}
    </div>
    <div class="secnav">
        <a class="title" href="{% url 'action:index' %}">Registered Activity</a>
        <a class="title" href="{% url 'action:index' %}">Interested Activity</a>
        <a class="title" href="{% url 'action:index' %}">Your Friends Join!</a>
        <a class="title" href="{% url 'action:index' %}">Upcoming</a>
        <a class="title" href="{% url 'action:index' %}">Popular</a>
        <a class="title" href="{% url 'action:index' %}">Recent</a>
        <a class="title" href="{% url 'action:index' %}">Category</a>
    </div>
    {% if user.is_superuser %}
        <a class="link" style="color: rgb(0, 125, 255)"
                href="{% url 'admin:index' %}">Admin</a>
    {% endif%}

    {% block message %}
        {% if messages %}
            {% for message in messages %}
                <a>{{ message }}</a>
            {% endfor %}
        {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>