{% extends "action/base.html" %}

{% block content %}
<h3>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
    {% for field in form %}
        {% if field.name == 'picture' or field.name == 'background_picture' %}
            {{ field.label_tag }} <input type="file" name="{{ field.name }}">
        {% elif field.name == 'tags' %}
            {{ field.label_tag }}
            {% for tag in field.field.queryset %}
            <label><br>
                <input type="checkbox" name="{{ field.name }}" value="{{ tag.id }}"
                    {% if tag in field.value.all %}checked{% endif %}>
                    {{ tag }}
            </label>
            {% empty %}
                No tag currently available.
            {% endfor %}
        {% else %}
            {{ field.label_tag }} {{ field }}
        {% endif %}
        <br>
    {% endfor %}
    <input type="submit" value="Create">
</form>
<h3>
{% endblock %}