{% extends "action/base.html" %}

{% block content %}

<div class="friend">
<div class="friend-menu">
    <div class="friend-nav-bar">
        <a href="{% url 'action:friends' %}">Friend List</a>
        <a href="{% url 'action:add_view' %}">Add Friends</a>
        <a href="{% url 'action:request_view' %}">Friend Request</a>
    </div>
    <div class="friend-list-box">
    {% for each_friend in user.friends %}
        <div class="each-friend">
            <p class="friend-name">{{ each_friend }}</p>
            <form action="{% url 'action:remove_friend' friend_id=each_friend.id %}">
                <button type="submit">Remove Friend</button>
            </form>
        </div>
    {% empty %}
        No friend.
    {% endfor %}
    </div>
</div>
</div>

{% endblock %}