{% extends "action/base.html" %}
{% load static %}

{% comment %} TODO, use Javscript instead of manual if/else {% endcomment %}
{% block content %}
<div class="search-system">
    <form action="{% url 'action:index' %}">
        <select class="search-criteria" name="tag">
        {% for tag_option, tag_label in tags %}
            <option value="{{ tag_option }}" {% if request.session.tag == tag_option %} selected {% endif %}>
                {{ tag_label }}
            </option>
        {% endfor %}
        </select>
        <input type="search" class="search-bar" name="q" 
            placeholder=" {% if not request.session.query %}Search :{% endif %}"
            value="{% if request.session.query %}{{ request.session.query }}{% endif %}">
        <button type="submit" class="search-button">Search</button>
    </form>
</div>

{% if activity_list %}
<div class="activity-list">
    {% for activity in activity_list %}
        <div class="activity">
            <div class="activity-pic">
                <img src="{% if activity.picture %}data:image/png;base64,{{ activity.picture }}
                            {% else %}
                            {% static 'action/images/background.png' %}
                            {% endif %}"
                    alt="{{ activity.title }}'s Picture" width="100%" height="250">
            </div>
            <div class="activity-title">
                <a>{{ activity.title }}</a>
            </div>
            <div class="activity-information">
                <div class="brief-detail">
                    {{ activity.description }}
                </div>
                <div class="second-line">
                    <div class="date-owner">
                        <p>Owner : {{ activity.owner.username }}</p>
                    </div>
                    <a class="detail-button" href="{% url 'action:detail' activity.id %}">Detail</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
    <h1>No activity found.</h1>
{% endif %}

{% endblock %}
