{% extends "action/base.html" %}
{% load static %}

{% block title %}
profile
{% endblock %}

{% block content %}

<div class="profile-box">
    {% if user.id == profile.id %}
    <h2 class="title-profile">Your Profile</h2>
    <form action="{% url 'action:edit_profile' %}">
        <button type="submit">Edit Profile</button>
    </form>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="profile_picture">
        <button type="submit">Upload Profile Picture</button>
    </form>
    {% else %}
        <h2 class="title-profile">{{ profile.username }}'s Profile</h2>
    {% endif %}

    <div class="profile-img">
        <img src="{% if profile.profile_picture %} {{ profile.profile_picture }}
                     {% else %} {% static 'action/images/guest-img.png' %}
                     {% endif %}"
             alt="{{ profile.username }}'s Profile Picture" width="220px" height="220px"
        style="border-radius: 20px;">
    </div>
    <div class="right-detail">
        <div class="box-color">
            <h1 class="First-Name">First Name:</h1>
            <p class="First-Name">{{ profile.first_name }}</p>
        </div>
        <div class="box-color">
            <h1 class="Last-Name">Last Name:</h1>
            <p class="Last-Name">{{ profile.last_name }}</p>
        </div>
        <div class="box-color">
            <h1 class="Email">Email:</h1>
            <p class="Email">{{ profile.email }}</p>
        </div>
        <div class="box-color">
            <h1 class="Count">Friend Count:</h1>
            <p class="Count">{{ profile.friends.count }} </p>
        </div>
    </div>
    <div class="bottom-left">
        <div class="name">
            <h1 class="user-name">Username:</h1>
            <p class="user-name">{{ profile.username }}</p>
        </div>
        <div class="bio">
            <p>Bio:</p>
            <h1> {{ profile.bio }}</h1>
        </div>
    </div>
<!--    <h1>Friends: {{ user.friends.all }} </h1>-->
<!--    <h1>Friend Count: {{ user.friends.count }} </h1>-->
    <div class="participated-activity">
        <h1>Participated Activities: {{ profile.participated_activity.count }}</h1>
        <div class="scroll">
            {% for participated in  profile.participated_activity  %}
                <li class="Participated-box"><a href="{% url 'action:detail' participated.id %}">{{ participated }}</a></li>
            {% endfor %}
        </div>
    </div>
<!--        <h1>Participated Activities: {{ user.participated_activity }} </h1>-->
<!--        <h1>Participated Activity Count: {{ user.participated_activity.count }} </h1>-->
<!--        <h1>Favorite Activities: {{ user.favorited_activity }} </h1>-->
<!--        <h1>Favorite Activity Count: {{ user.favorited_activity.count }} </h1>-->

    {% if user.id == profile.id %}
        <div class="logout"><a href="{% url 'logout' %}">Logout</a></div>
    {% endif %}
</div>
{% endblock %}
