{% extends "action/base.html" %}

{% block title %}
profile
{% endblock %}

{% block content %}

<form action="{% url 'action:edit_profile' %}">
    <button type="submit">Edit Profile</button>
</form>

<h1>Username: {{ user.username }}</h1>
<h1>Email: {{ user.email }}</h1>
<h1>First Name: {{ user.first_name }}</h1>
<h1>Last Name: {{ user.last_name }}</h1>

<h1>Profile Picture:
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="profile_picture">
        <button type="submit">Upload Profile Picture</button>
    </form>
    <img src="{{ user.profile_picture }}" alt="{{ user.username }}'s Profile Picture">
</h1>

<h1>Bio: {{ user.bio }}</h1>

<h1>Friends: {{ user.friends.all }} </h1>
<h1>Friend Count: {{ user.friends.count }} </h1>

<h1>Participated Activities: {{ user.participated_activity }} </h1>
<h1>Participated Activity Count: {{ user.participated_activity.count }} </h1>

<h1>Favorite Activities: {{ user.favorited_activity }} </h1>
<h1>Favorite Activity Count: {{ user.favorited_activity.count }} </h1>
{% endblock %}