{% extends "action/friends/detail.html" %}

{% block friend %}
<div class="friend-list-box">
    {% for each_friend in friend_add_list %}
        <div class="each-friend">
            <div class="friend-name">
                <a href="{% url 'action:profile' user_id=each_friend.id %}">{{ each_friend }}</a>
                <form action="{% url 'action:add_friend' friend_id=each_friend.id %}">
                    <button type="submit">Add Friend</button>
                </form>
            </div>
        </div>
    {% empty %}
        <p class="no-friend">No user found.</p>
    {% endfor %}
</div>
{% endblock %}