{% extends "action/friends/list.html" %}
{% load static %}

{% block friend %}
<div class="friend-list-box">
    {% for each_friend in friend_add_list %}
        <div class="each-friend">
            <div class="friend-image">
                <img src="{% if each_friend.profile_picture %} data:image/png;base64,{{ each_friend.profile_picture }}
                {% else %}{% static 'action/images/guest-img.png' %}{% endif %}"

                    width="60px" height="60px"
                    style="border-radius: 50%; border: 2px solid black;">
            </div>
            <div class="friend-name">
                <a href="{% url 'action:profile' user_id=each_friend.id %}">{{ each_friend }}</a>
            </div>
            <form class="add-button-box" action="{% url 'action:add_friend' friend_id=each_friend.id %}">
                    <button class="add-button" type="submit">Add Friend</button>
            </form>
        </div>
    {% empty %}
        <p class="no-friend">No user found.</p>
    {% endfor %}
</div>
{% endblock %}