{% extends "action/friends/list.html" %}

{% block friend %}
<div class="friend-list-box">
    {% for each_request in friend_request_list %}
        <div class="each-friend">
            <div class="friend-name">
                From:
                <a href="{% url 'action:profile' user_id=each_request.sender.id %}">
                    {{ each_request.sender }}<br>
                </a>
            </div>
            <p class="friend-name">
                To: {{ each_request.receiver }}
            </p>
            <form action="{% url 'action:accept_request' friend_id=each_request.sender.id %}">
                <button type="submit">Accept Friend Request</button>
            </form>
            <form action="{% url 'action:decline_request' friend_id=each_request.sender.id %}">
                <button type="submit">Decline Friend Request</button>
            </form>
        </div>
    {% empty %}
        <p class="no-friend">No friend request.</p>
    {% endfor %}
</div>
{% endblock %}