/*top navigation bar*/
nav {
    z-index: 9999;
    top: 0%;
    position: sticky;
    width: 100%;
}

.topnav {
    background: #002e27;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.topnav a img.title-logo {
    width: auto;
    height: 55px;
    padding: 4px 10px 0px 10px;
}

.topnav a img.title-logo:hover {
    transform: scale(1.05);
}

.topnav a {
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: font-size 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav a.admin {
    float: right;
    display:inline-block;
    padding: 17px;

    background-color: #04AA6D;
    color: black;
    background: white;
    border-radius: 45px;
}

.topnav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.topnav a.admin {
    float: right;
    display:inline-block;
    padding: 17px;
    background-color: #04AA6D;
    color: black;
    background: white;
    border-radius: 45px;
}

.topnav a.calendar {
    float: right;
    display:inline-block;
    padding: 17px;
    margin-left: 6px;
    background-color: #04AA6D;
    color: black;
    background: white;
    border-radius: 45px;
}

.topnav a.manage {
    float: right;
    display:inline-block;
    padding: 17px;
    margin-left: 6px;
    background-color: #04AA6D;
    color: black;
    background: white;
    border-radius: 45px;
}

.topnav a.friends {
    float: right;
    display:inline-block;
    padding: 17px;
    margin-left: 6px;
    border-radius: 45px;
    background-color: #04AA6D;
    color: black;
    background: white;
}

.topnav .user-box {
    display: flex;
    align-items: center;
    float: right;
    margin: 6px;
    margin-right: 1%;
    border-radius: 45px;
    background-color: white;
}

.topnav .user-box a {
    margin:8px;
    padding:8px 0px 8px 8px;

    color:black;
}

.topnav .img {
    width:30px;
    height:30px;
    margin-right: 10px;
    border-radius: 50%;
}

.topnav a.logout {
    display: flex;
    align-items: center;
    float: right;

    text-decoration:none;
    color:black;
    margin: 6px;
    padding: 16px;
    margin-right: 1%;
    border-radius: 45px;
    background-color: white;
    transition: background-color 0.3s
}

.topnav a.logout:hover {
    background: red;
    color: white;
}

.topnav a.login {
    position: absolute;
    right: 0;
    margin: 20px;
    background-color: #04AA6D;
    color: black;
    background: white;
    border-radius: 45px;
}

.topnav .drop-button {
    display:inline-block;
    float: left;
    display: none;
}

.topnav .drop-button button{
    border:none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 100%;

    color: #4B4545;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition:0.3s font-size ease-out;
}

.topnav .drop-button button:hover{
    font-size: 35px;
    color: black;
}


/*second navigation bar*/
.secnav {
    background: #00b14f;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.secnav li{
    display:inline-block;
    padding: 10px 2% 10px 2%;
    text-align: center;
}

.secnav .title{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}

.secnav a {
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
}

.secnav a:hover {
    text-decoration: underline;
    color:black;
    font-size: 22px;
}
/* Dropbox */
.dropbox {
    display: none;
    margin:0%;
    background: #00b14f;
    padding:1%;
}

.dropbox li {
    padding: 5px 0px 5px 0px;
    text-decoration: none;
	list-style-type: none;
    text-align: center;
    text-align: center;
    background:white;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 1s;
}

.dropbox .drop-item {
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

    text-align: center;
    text-decoration: none;
	list-style-type: none;
    transition: font-size 0.3s, color 0.3s
}


.dropbox .drop-item:hover {
    font-size: 25px;
    text-decoration:underline;
    border:none;
}

/* Content block */
.content {
    position: static;
    overflow-y: auto;
}


/* alert massage */
.alert-msg {
    width:70%;
    list-style: none;
    text-align:center;
    border-radius:10px;
    margin: 20px auto 0px auto;
    background-color: white;
    opacity: 1;
    transition: all 1s;
    padding:0%;
}

.alert-msg li {
    list-style: none;
    font-size: 20px;
    padding:0%;
    margin-left: -20px;
}

.alert-msg p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: black;
    font-size: 20px;
    margin: 0px;
}

.close-msg {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 0.3s;
}

.close-msg:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*condition when screen sized is less than 1170px*/
@media screen and (max-width: 1170px) {
    .topnav a.friends {
        display: none;
    }

    .topnav a.manage {
        display: none;
    }

    .topnav a.admin {
        display: none;
    }

    .topnav a.calendar {
        display: none;
    }

    .topnav a.logout {
        display: none;
    }

    .topnav a img.title-logo {
        width: auto;
        height: 45px;
        padding: 9px 10px 0px 10px;
    }

    .topnav .drop-button {
        display:block;
        float:left;
    }

    .secnav {
        display: none;
    }
}