.scroll-container {
    width: 300px; /* Set the width of the container */
    height: 200px; /* Set the height of the container */
    overflow: auto; /* Enable scrolling when content overflows */
    border: 1px solid #ccc; /* Optional: Add a border for styling */
}

.friend {
    position: sticky;
    display: flex;
    justify-content: center;
    height: 650px;
}

.friend-menu {
    position: sticky;
    background-color: #79AC78;
    width: 95%;
    height: 90%;
    border-radius: 15px;
    margin-top: 3%;
}

div.friend-nav-bar {
    display: inline-flex;
    overflow: hidden;
    width: 90%;
    margin: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.friend-nav-bar a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    width: 20%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.friend-nav-bar a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.friend-search {
    display: inline-flex;
    width: 40%;
}

.friend-search input {
    text-align: center;
    border-radius: 5px;
    background-color: #04AA6D;
    color: black;
    background: white;
    font-size: 20px;
    width: 75%;
    height: 100%;
    border: none;
    margin-right: 5%;
}

.friend-search button {
    text-align: center;
    border-radius: 5px;
    background-color: #04AA6D;
    color: black;
    background: white;
    font-size: 20px;
    width: 20%;
    height: 100%;
    border: none;
    overflow: hidden;
    transition: background-color 0.3s;
}

.friend-search button:hover {
    background-color: #00b14f;
    color: white;
}

.friend-list-box {
    background-color: white;
    width: 95%;
    height: 80%;
    border-radius: 15px;
    overflow: hidden;
    overflow-y: scroll;
    margin-left: 2.5%;
}

.each-friend {
    display: inline-grid;
    grid-template-columns: 100px auto auto;
    height: auto;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #000
}

.friend-image {
    text-align: center;
    padding: 20px;
}

.friend-name {
    font-size: 40px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 20px;
    line-height: 60px;
}

.add-button-box {
    display: inline-block;
    margin: 10px;
    text-align: right;
    padding: 20px;
}

.add-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #45a049;
}

.remove-button-box {
    display: inline-block;
    margin: 10px;
    text-align: right;
    padding: 20px;
}

.remove-button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: red;
}

.no-friend {
    font-size: 20px;
    text-align: center;
    margin-top: 15%;
}

.request-manager {
    display: grid;
    text-align: center;
}

.accept-button-box {
    display: inline-block;
    text-align: right;
    padding: 6.5px;
}

.accept-button {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
}

.accept-button:hover {
    background-color: #00B14F;
}

.decline-button-box {
    display: inline-block;
    text-align: right;
    padding: 6.5px;
}

.decline-button {
    background-color: #ff3366;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
}

.decline-button:hover {
    background-color: #ff0000;
}

@media screen and (max-width: 1200px) {
    div.friend-nav-bar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        overflow: hidden;
        width: 90%;
        margin: 5%;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .friend-nav-bar a {
        color: white;
        font-size: 30px;
        text-decoration: none;
        width: auto;
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
    }

    .friend-nav-bar a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .friend-search {
        grid-column: 1 / span 3;
        display: inline-flex;
        width: 100%;
    }

    .friend-search input {
        text-align: center;
        border-radius: 5px;
        background-color: #04AA6D;
        color: black;
        background: white;
        font-size: 20px;
        width: 75%;
        height: 100%;
        border: none;
        margin-right: 5%;
    }
}

@media screen and (max-width: 750px) {
    .friend-nav-bar a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        width: auto;
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
    }
}