.outer-box-detail {
    background:#79AC78;
    margin:3%;
    padding: 1px 2% 2% 2%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.outer-box-detail .title{
    text-align:center;
    color: black;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin:10px;
    text-shadow: 1px 2px gray;
}


.inner-box-detail{
    background:#618264;
    border-radius: 15px;
    padding:0% 0% 50px 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inner-box-detail .new-activity{
    padding: 2% 2% 2% 2%;
}

.inner-box-detail .new-activity a{
    color: white;
    text-shadow: 1px 1px 4px #000000;
    text-decoration: none;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    transition: font-size 0.5s, color 0.3s;
}

.inner-box-detail .new-activity a:hover{
    color: black;
    font-size: 50px;
}


.inner-box-detail new-activity:hover{
    font-size: 24px;
    color:white;
}


.inner-box-detail .activity-container{
    background:black;
    margin: 0%;
    padding-top:10px;
    overflow: scroll;
    min-height:150px;
    max-height:2000px;
    border: 1px solid black;
}

.inner-box-detail li {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2%;
    padding: 2%;
    list-style: none;
    background:white;
    text-decoration: none;
    border-radius:15px;
}

.activity-container .activity-name{
    font-weight: 700;
    font-size: 30px;
    text-decoration:none;
    color:black;
    transition: font-size 0.3s;
    text-shadow: 1px 0px gray;
}

.activity-container .activity-name:hover{
    font-size:35px;
}

.activity-container p{
    background: gray;
    padding:1%;
    border-radius: 10px;
    margin-top: 10px;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    color:white;
    text-shadow: 1px 1px black;
}
.activity-container .activity-edit{
    font-size:20px;
    text-decoration:none;
    color:white;
    text-shadow: 1px 1px black;

    background: gray;
    padding:1% 5%;
    border-radius:15px;
    box-shadow: 0px 1px black;
    transition: font-size 0.5s;
}

.activity-container .activity-edit:hover{
    font-size:30px;
}


.activity-container .activity-delete{
    font-size:20px;
    text-decoration:none;
    color:white;
    text-shadow: 1px 1px black;

    background: gray;
    padding: 1% 5%;
    border-radius: 15px;
    box-shadow: 0px 1px black;
    transition: font-size 0.5s ,color 0.3s;
}

.activity-container .activity-delete:hover{
    font-size: 30px;
    color: red;
}


@media only screen and (max-width: 500px){
    .inner-box-detail .new-activity a{
        padding-left:2%;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        transition: font-size 0.5s color 0.5s;
    }

    .inner-box-detail .new-activity a:hover{
        color: black;
        font-size: 40px;
    }
}