{% extends "action/base.html" %}
{% load static %}

{% block title %}
profile
{% endblock %}

{% block content %}
<div class="grid-container">
  <div class="top-box">
      <div class="profile-background-img">
            <img src="{% if profile.background_picture %} data:image/png;base64,{{ profile.background_picture }}
                         {% else %} {% static 'action/images/background.png' %}
                         {% endif %}"
                 alt="{{ profile.username }}'s Profile Picture">
      </div>

      <div class="profile-img">
          <img src="{% if profile.profile_picture %} data:image/png;base64,{{ profile.profile_picture }}
                       {% else %} {% static 'action/images/guest-img.png' %}
                       {% endif %}"
               alt="{{ profile.username }}'s Profile Picture" width="220px" height="220px"
          style="border-radius: 50%;">
      </div>

      <div class="top-header-detail">
            <h1 class="First-Name">{{ profile.username }}</h1>
      </div>
      {% if user.id == profile.id %}
      <div class="edit">
          <form action="{% url 'action:edit_profile' %}">
              <button type="submit" class="edit">Edit Profile</button>
          </form>
      </div>
      <div class="logout">
          <a href="{% url 'logout' %}">Logout</a>
      </div>
      {% endif %}
  </div>

  <div class="left-box">

      <div class="participated-activity">
            <div class="title">
                <h1>Participated Activities: {{ profile.participated_activity.count }}</h1>
            </div>
            <div class="scroll">
                {% for participated in profile.participated_activity  %}
                    <a href="{% url 'action:detail' participated.id %}">
                        <li>{{ participated }}</li>
                    </a>
                {% empty %}
                    <p>No participated activity.</p>
                {% endfor %}
            </div>
      </div>
      <div class="favorite-activity">
          <div class="title">
                <h1>Favorite Activity Count: {{ user.favorited_activity.count }} </h1>
          </div>
          <div class="scroll">
              {% for favorited in user.favorited_activity  %}
                  <a href="{% url 'action:detail' favorited.id %}">
                      <li>{{ favorited }}</li>
                  </a>
              {% empty %}
                  <p>You do not have any favorited activity</p>
              {% endfor %}
          </div>
      </div>

  </div>

  <div class="right-box">
      <div class="right-detail">
          <div>
            <h1 class="First-Name">First Name: </h1><span> {{ profile.first_name }}</span>
          </div>
          <div>
            <h1 class="Last-Name">Last Name: </h1><span> {{ profile.last_name }}</span>
          </div>
          <div>
            <h1 class="Email">Email: </h1> <span> {{ profile.email }}</span>
          </div>
            <h1 class="Count">Friend Count: </h1> <span> {{ profile.friends.count }}</span>
          <div class="bio">
                <h1>Bio:</h1>
                <p> {{ profile.bio }}</p>
          </div>
      </div>
  </div>
</div>
{% endblock %}
