{% extends "action/base.html" %}
{% load static %}

{% block title %}
Edit profile
{% endblock %}

{% block content %}
<div class="profile-outer-edit">
    {{ form.errors }}
    <div class="title">
        <h1>Edit Profile</h1>
    </div>
    <div  class="profile-inner-edit">
        <form method="post" action="{% url 'action:edit_profile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>
                <img class="background-img" id="uploaded_background" src="{% if user.background_picture %} data:image/png;base64,{{ user.background_picture }} {% else %} {% static 'action/images/guest-img.png' %} {% endif %}"
                     alt="{{ user.username }}'s background_picture Profile Picture">
                <div class="profile-img-box">
                    <img class="profile-img" id="uploaded_profile" src="{% if user.profile_picture %} data:image/png;base64,{{ user.profile_picture }} {% else %} {% static 'action/images/guest-img.png' %} {% endif %}"
                        alt="{{ user.username }}'s Profile Picture" width="220px" height="220px">
                </div>
                {% for field in form %}
                    {% if field.name == 'profile_picture' %}
                        <div>
                            <p>{{ field.label_tag }}</p>
                            <input id="Input_profile" type="file" name="profile_picture" onchange="display_profile()">
                        </div>
                    {% elif field.name == 'background_picture' %}
                        <div>
                            <p>{{ field.label_tag }}</p>
                            <input id="Input_background" type="file" name="background_picture" onchange="display_Background()">
                        </div>
                    {% elif field.name == 'password' %}
                    {% else %}
                        <div><p>{{ field.label_tag }} </p>{{ field }}</div>
                    {% endif %}
                {% endfor %}
                <div class="edit-save-profile">
                    <button type="submit">Save Changes</button>
                </div>
            </h1>
        </form>
    </div>
</div>

{% endblock %}